.body {
  font-family: "Quicksand", sans-serif;
}
.container {
  flex-basis: 70%;
}
.comp-symbol {
  width: 50px;
}
.comp-name {
  font-size: 30px;
}
.comp-stock-price,
.comp-changes {
  font-size: 20px;
}
.comp-description {
  font-size: 18px;
  line-height: 26px;
}
.loader {
  position: absolute;
  height: 100px;
  width: 100px;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  background-size: 100%;
}
